# Verification (검증)

- '우리가 제품을 올바르게 만들고 있는가?'를 확인하는 활동
- 명세에 따르는가를 확인하는건 Verification. 요구사항을 충족하는가를 확인하는게 Validation.

## Verification 방법

1. 리뷰

	> 요구사항 검토, 설계 검토, 코드 리뷰 등

1. 워크스루(Walkthrough)

	> 개발자가 설명하고, 다른사람들이 검토

1. 인스펙션(Inspection)

	> 워크스루인데 조금 더 공식적인거

1. 테스트